body{
    background-color: rgb(241, 238, 238);
}
h1{
    text-align: center;
}
h2{
    color: red;
    background-color: gray;
}
p{
    background-color: rgb(204, 202, 202);
}
span {
    color: blue; 
    text-decoration: underline; 
}
strong{
    color:green;
}
